# Project 1

##  Import the required libraries and dependencies.

In [1]:
import pandas as pd
from pathlib import Path
%matplotlib inline
import playsound as ps
import os
from MCForecastTools import MCSimulation

## Collect the Data.

In [2]:
csvpath = Path("Resources/bitcoin.csv")
bitcoin = pd.read_csv((csvpath),
    index_col = "date",
    parse_dates=True,
    infer_datetime_format=True)
bitcoin.drop(['unix', 'Volume USD'], axis=1, inplace=True)
bitcoin = bitcoin.set_axis(['Symbol','Open', 'High', 'Low', 'Close', 'Volume'], axis=1)
bitcoin.index.names = ['Date']

In [3]:
bitcoin.head()

             Symbol      Open      High       Low     Close       Volume
Date
2022-01-18  BTC/USD  42230.09  42358.39  42158.97  42336.30     7.875563
2022-01-17  BTC/USD  43099.08  43209.47  41581.00  42255.07  1060.009388
2022-01-16  BTC/USD  43084.77  43495.59  42615.00  43107.70   621.953027
2022-01-15  BTC/USD  43085.76  43826.80  42387.86  43102.01   707.658523
2022-01-14  BTC/USD  42579.44  43468.95  41782.21  43102.35  1386.832758

In [43]:
csvpath_2 = Path("Resources/ethereum.csv")
ethereum = pd.read_csv((csvpath_2),
    index_col = "date",
    parse_dates=True,
    infer_datetime_format=True,)
ethereum.drop(['unix', 'Volume USD'], axis=1, inplace=True)
ethereum = ethereum.set_axis(['Symbol','Open', 'High', 'Low', 'Close', 'Volume'], axis=1)
ethereum.index.names = ['Date']

In [5]:
ethereum.head()

             Symbol     Open     High      Low    Close        Volume
Date
2022-01-17  ETH/USD  3350.15  3360.29  3332.71  3333.88    230.717260
2022-01-16  ETH/USD  3328.95  3393.66  3274.92  3350.15   8990.626218
2022-01-15  ETH/USD  3311.54  3374.83  3262.94  3329.71   7400.861902
2022-01-14  ETH/USD  3241.82  3344.31  3188.89  3308.82  13612.569116
2022-01-13  ETH/USD  3372.33  3412.76  3230.70  3241.82  21742.716835

In [6]:
initial_investment = 25000

## Prepare the Data.

In [7]:
bitcoin = bitcoin.dropna()
bitcoin = bitcoin.drop_duplicates()

In [8]:
ethereum = ethereum.dropna()
ethereum = ethereum.drop_duplicates()

## Analyze the Data.

#### Find the current prices for Ethereum and Bitcoin.

In [9]:
eth_price = ethereum["Close"][0]
print(f'The current price of ethereum is ${eth_price}')

The current price of ethereum is $3333.88

In [10]:
bit_price = bitcoin["Close"][0]
print(f'The current price of bitcoin is ${bit_price}')

The current price of bitcoin is $42336.3

#### Join the ethereum and bitcoin dataframes into one dataframe.

In [51]:
crypto = ethereum.join(bitcoin, lsuffix="_ethereum", rsuffix="_bitcoin")
crypto.head()

,Symbol_ethereum,Open_ethereum,High_ethereum,Low_ethereum,Close_ethereum,Volume_ethereum,Symbol_bitcoin,Open_bitcoin,High_bitcoin,Low_bitcoin,Close_bitcoin,Volume_bitcoin
Date,,,,,,,,,,,,
2022-01-17,ETH/USD,3350.15,3360.29,3332.71,3333.88,230.717260,BTC/USD,43099.08,43209.47,41581.00,42255.07,1060.009388
2022-01-16,ETH/USD,3328.95,3393.66,3274.92,3350.15,8990.626218,BTC/USD,43084.77,43495.59,42615.00,43107.70,621.953027
2022-01-15,ETH/USD,3311.54,3374.83,3262.94,3329.71,7400.861902,BTC/USD,43085.76,43826.80,42387.86,43102.01,707.658523
2022-01-14,ETH/USD,3241.82,3344.31,3188.89,3308.82,13612.569116,BTC/USD,42579.44,43468.95,41782.21,43102.35,1386.832758
2022-01-13,ETH/USD,3372.33,3412.76,3230.70,3241.82,21742.716835,BTC/USD,43935.01,44456.34,42321.00,42571.94,1993.883243

In [67]:
crypto = pd.merge(left = ethereum, right = bitcoin, on = "Date")
crypto

,Symbol_x,Open_x,High_x,Low_x,Close_x,Volume_x,Symbol_y,Open_y,High_y,Low_y,Close_y,Volume_y
Date,,,,,,,,,,,,
2022-01-17,ETH/USD,3350.15,3360.29,3332.71,3333.88,230.717260,BTC/USD,43099.08,43209.47,41581.00,42255.07,1.060009e+03
2022-01-16,ETH/USD,3328.95,3393.66,3274.92,3350.15,8990.626218,BTC/USD,43084.77,43495.59,42615.00,43107.70,6.219530e+02
2022-01-15,ETH/USD,3311.54,3374.83,3262.94,3329.71,7400.861902,BTC/USD,43085.76,43826.80,42387.86,43102.01,7.076585e+02
2022-01-14,ETH/USD,3241.82,3344.31,3188.89,3308.82,13612.569116,BTC/USD,42579.44,43468.95,41782.21,43102.35,1.386833e+03
2022-01-13,ETH/USD,3372.33,3412.76,3230.70,3241.82,21742.716835,BTC/USD,43935.01,44456.34,42321.00,42571.94,1.993883e+03
...,...,...,...,...,...,...,...,...,...,...,...,...
2015-03-01,ETH/USD,0.00,0.00,0.00,0.00,0.000000,BTC/USD,253.47,260.00,245.00,255.81,1.275703e+06
2015-02-28,ETH/USD,0.00,0.00,0.00,0.00,0.000000,BTC/USD,253.06,254.29,245.20,252.98,9.068749e+05
2015-02-27,ETH/USD,0.00,0.00,0.00,0.00,0.000000,BTC/USD,236.70,256.15,236.16,253.06,5.507720e+06
2015-02-26,ETH/USD,0.00,0.00,0.00,0.00,0.000000,BTC/USD,237.97,238.55,234.01,236.70,8.266449e+05
2015-02-25,ETH/USD,0.00,0.00,0.00,0.00,0.000000,BTC/USD,239.94,240.61,236.00,238.00,4.133992e+05

In [ ]:
frames = ([ethereum, bitcoin])
crypto = pd.concat(frames, keys=['ETH',"BIT"])
crypto

                 Symbol     Open     High      Low    Close        Volume
    Date
ETH 2022-01-17  ETH/USD  3350.15  3360.29  3332.71  3333.88  2.307173e+02
    2022-01-16  ETH/USD  3328.95  3393.66  3274.92  3350.15  8.990626e+03
    2022-01-15  ETH/USD  3311.54  3374.83  3262.94  3329.71  7.400862e+03
    2022-01-14  ETH/USD  3241.82  3344.31  3188.89  3308.82  1.361257e+04
    2022-01-13  ETH/USD  3372.33  3412.76  3230.70  3241.82  2.174272e+04
...                 ...      ...      ...      ...      ...           ...
BIT 2014-12-02  BTC/USD   378.39   382.86   375.23   379.25  2.593576e+06
    2014-12-01  BTC/USD   376.40   382.31   373.03   378.39  2.520662e+06
    2014-11-30  BTC/USD   376.57   381.99   373.32   373.34  1.145567e+06
    2014-11-29  BTC/USD   376.42   386.60   372.25   376.72  2.746157e+06
    2014-11-28  BTC/USD   363.59   381.34   360.57   376.28  3.220878e+06

[5123 rows x 6 columns]