# Project 1

##  Import the required libraries and dependencies.

In [1]:
import pandas as pd
from pathlib import Path
%matplotlib inline
import playsound as ps
import os
from MCForecastTools import MCSimulation

## Collect the Data.

In [2]:
csvpath = Path("Resources/bitcoin.csv")
bitcoin = pd.read_csv((csvpath),
    index_col = "date",
    parse_dates=True,
    infer_datetime_format=True)
bitcoin.drop(['unix', 'Volume USD'], axis=1, inplace=True)
bitcoin = bitcoin.set_axis(['Symbol','Open', 'High', 'Low', 'Close', 'Volume'], axis=1)
bitcoin.index.names = ['Date']

In [18]:
bitcoin

             Symbol     Close
Date
2022-01-18  BTC/USD  42336.30
2022-01-17  BTC/USD  42255.07
2022-01-16  BTC/USD  43107.70
2022-01-15  BTC/USD  43102.01
2022-01-14  BTC/USD  43102.35
...             ...       ...
2014-12-02  BTC/USD    379.25
2014-12-01  BTC/USD    378.39
2014-11-30  BTC/USD    373.34
2014-11-29  BTC/USD    376.72
2014-11-28  BTC/USD    376.28

[2604 rows x 2 columns]

In [4]:
csvpath_2 = Path("Resources/ethereum.csv")
ethereum = pd.read_csv((csvpath_2),
    index_col = "date",
    parse_dates=True,
    infer_datetime_format=True,)
ethereum.drop(['unix', 'Volume USD'], axis=1, inplace=True)
ethereum = ethereum.set_axis(['Symbol','Open', 'High', 'Low', 'Close', 'Volume'], axis=1)
ethereum.index.names = ['Date']

In [20]:
ethereum

             Symbol    Close
Date
2022-01-17  ETH/USD  3333.88
2022-01-16  ETH/USD  3350.15
2022-01-15  ETH/USD  3329.71
2022-01-14  ETH/USD  3308.82
2022-01-13  ETH/USD  3241.82
...             ...      ...
2017-11-12  ETH/USD   306.10
2017-11-11  ETH/USD   315.76
2017-11-10  ETH/USD   298.66
2017-11-09  ETH/USD   321.32
2017-11-08  ETH/USD     0.00

[1532 rows x 2 columns]

In [6]:
initial_investment = 25000

## Prepare the Data.

In [7]:
bitcoin = bitcoin.dropna()
bitcoin = bitcoin.drop_duplicates()
bitcoin.drop(columns=['Open', 'High', 'Low', 'Volume'], inplace=True)

In [14]:
ethereum.dropna(inplace=True)
ethereum = ethereum.drop_duplicates()
ethereum.drop(columns=['Open', 'High', 'Low', 'Volume'], inplace=True)

## Analyze the Data.

#### Find the current prices for Ethereum and Bitcoin.

In [15]:
eth_price = ethereum["Close"][0]
print(f'The current price of ethereum is ${eth_price}')

The current price of ethereum is $3333.88

In [16]:
bit_price = bitcoin["Close"][0]
print(f'The current price of bitcoin is ${bit_price}')

The current price of bitcoin is $42336.3

#### Join the ethereum and bitcoin dataframes into one dataframe.

In [19]:
crypto = ethereum.join(bitcoin, lsuffix="_ethereum", rsuffix="_bitcoin")
crypto

           Symbol_ethereum  Close_ethereum Symbol_bitcoin  Close_bitcoin
Date
2022-01-17         ETH/USD         3333.88        BTC/USD       42255.07
2022-01-16         ETH/USD         3350.15        BTC/USD       43107.70
2022-01-15         ETH/USD         3329.71        BTC/USD       43102.01
2022-01-14         ETH/USD         3308.82        BTC/USD       43102.35
2022-01-13         ETH/USD         3241.82        BTC/USD       42571.94
...                    ...             ...            ...            ...
2017-11-12         ETH/USD          306.10        BTC/USD        5870.37
2017-11-11         ETH/USD          315.76        BTC/USD        6355.13
2017-11-10         ETH/USD          298.66        BTC/USD        6588.18
2017-11-09         ETH/USD          321.32        BTC/USD        7148.00
2017-11-08         ETH/USD            0.00        BTC/USD        7450.32

[1532 rows x 4 columns]

In [12]:
crypto = pd.merge(left = ethereum, right = bitcoin, on = "Date")
crypto

,Symbol_x,Open,High,Low,Close_x,Volume,Symbol_y,Close_y
Date,,,,,,,,
2022-01-17,ETH/USD,3350.15,3360.29,3332.71,3333.88,2.307173e+02,BTC/USD,42255.07
2022-01-16,ETH/USD,3328.95,3393.66,3274.92,3350.15,8.990626e+03,BTC/USD,43107.70
2022-01-15,ETH/USD,3311.54,3374.83,3262.94,3329.71,7.400862e+03,BTC/USD,43102.01
2022-01-14,ETH/USD,3241.82,3344.31,3188.89,3308.82,1.361257e+04,BTC/USD,43102.35
2022-01-13,ETH/USD,3372.33,3412.76,3230.70,3241.82,2.174272e+04,BTC/USD,42571.94
...,...,...,...,...,...,...,...,...
2017-11-12,ETH/USD,315.76,318.98,300.11,306.10,1.485482e+07,BTC/USD,5870.37
2017-11-11,ETH/USD,298.66,322.19,298.00,315.76,7.328432e+06,BTC/USD,6355.13
2017-11-10,ETH/USD,321.32,325.61,291.00,298.66,1.058054e+07,BTC/USD,6588.18
2017-11-09,ETH/USD,322.15,331.70,317.29,321.32,4.270935e+06,BTC/USD,7148.00
2017-11-08,ETH/USD,0.00,0.00,0.00,0.00,0.000000e+00,BTC/USD,7450.32

In [13]:
frames = ([ethereum, bitcoin])
crypto = pd.concat(frames, keys=['ETH',"BIT"])
crypto

                 Symbol     Open     High      Low    Close        Volume
    Date
ETH 2022-01-17  ETH/USD  3350.15  3360.29  3332.71  3333.88    230.717260
    2022-01-16  ETH/USD  3328.95  3393.66  3274.92  3350.15   8990.626218
    2022-01-15  ETH/USD  3311.54  3374.83  3262.94  3329.71   7400.861902
    2022-01-14  ETH/USD  3241.82  3344.31  3188.89  3308.82  13612.569116
    2022-01-13  ETH/USD  3372.33  3412.76  3230.70  3241.82  21742.716835
...                 ...      ...      ...      ...      ...           ...
BIT 2014-12-02  BTC/USD      NaN      NaN      NaN   379.25           NaN
    2014-12-01  BTC/USD      NaN      NaN      NaN   378.39           NaN
    2014-11-30  BTC/USD      NaN      NaN      NaN   373.34           NaN
    2014-11-29  BTC/USD      NaN      NaN      NaN   376.72           NaN
    2014-11-28  BTC/USD      NaN      NaN      NaN   376.28           NaN

[4136 rows x 6 columns]